@green: #39aa56;

.card.cc-list-card {
    border-left: 5px solid @green !important; 
    border-radius: 0 !important;
    box-shadow: none;
}


.card.cc-box.green {
    border-top: 3px solid @green !important;  
}