@green: #39aa56;

.card.cc-list-card {
    border-left: 5px solid @green !important; 
    border-radius: 0 !important;
    box-shadow: none;
}


.card.cc-box.green {
    border-top: 3px solid @green !important;  
}

.item.cc-project-item {
    // border-left: 5px solid @green !important; 
    .header {
        padding-bottom: .7em;
    }

    .content {
        margin: .8em .5em .8em 1.5em !important;
    }
}

.cc-passed {
    background: -webkit-linear-gradient(left,#39aa56 0,#39aa56 8px,#fff 8px,#fff 100%) no-repeat !important;
    background: linear-gradient(to right,#39aa56 0,#39aa56 8px,#fff 8px,#fff 100%) no-repeat !important;
}

.cc-project-segment {
    border-left:none !important; 
    padding: 1em 0 !important; 
    border-radius: 0 !important;
}

.cc-group-item {
    .content>.header>span {
        color: #555 !important;
        font-weight: normal !important;
    }
}