<div class="ui large divided selection items">
    <div class="item">
        <div class="middle aligned content">
            {{#link-to "project-dashboard" 1 class="item" }}
                v1
            {{/link-to}}
            <div class="description">
              v1 version api
            </div>
            <div class="meta">
                <span>Create at: {{group.create_time}}</span>
                <span>Update at: {{group.update_time}}</span>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="middle aligned content">
            {{#link-to "project-dashboard" 1  class="item" }}
                v2
            {{/link-to}}
            <div class="description">
              v1 version api
            </div>
            <div class="meta">
                <span>Create at: {{group.create_time}}</span>
                <span>Update at: {{group.update_time}}</span>
            </div>
        </div>
    </div>
</div>