<div class="ui container">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical pointing menu">
              {{#link-to "project-detail.docs.preview" class="item" }}
                Preview
              {{/link-to}}
              {{#link-to "project-detail.docs.publish" class="item" }}
                Publish
              {{/link-to}}
            </div>
        </div>
        <div class="twelve wide column">
            {{outlet}}
        </div>
    </div>
</div>

