<div class="ui container">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical pointing menu">
              {{#link-to "project-detail.settings.options" class="item" }}
                Options
              {{/link-to}}
              {{#link-to "project-detail.settings.trigger-url" class="item" }}
                Trigger url
              {{/link-to}}
              {{#link-to "project-detail.settings.webhook" class="item" }}
                Web hooks
              {{/link-to}}
            </div>
        </div>
        <div class="twelve wide column">
            {{outlet}}
        </div>
    </div>
</div>
