<i class="folder icon"></i>
<div class="content">
    <div class="header">
        {{model.name}}
    </div>
    <div class="description">        
    </div>
    <div class="list">
        <div class="item">
            <div class="content">
                <h5 class="ui green header">
                    Get
                    <span>Get TODO</span>
                </h5>
            </div>
        </div>
        <div class="item">
            
            <div class="content">
                <h5 class="ui grey header">
                    Post
                    <span>Create TODO</span>
                </h5>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <h5 class="ui blue header">
                    Update
                    <span>Update TODO</span>
                </h5>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <h5 class="ui red header">
                    Delete
                    <span>Delete TODO</span>
                </h5>
            </div>
        </div>
    </div>
</div>

