<div class="ui selection list">
    <div class="item" {{action "toggleContent"}} >
        <i class="folder icon"></i>
        <div class="content">
            <div class="header">
                {{model.name}}
            </div>
        </div>
    </div>
</div>
<div class="ui selection list js-content" >
    <div class="item">
        <div class="content">
            {{#link-to "project-dashboard.api-detail" 1 class="ui green header" }}
                Get
                <span>Get TODO</span>
            {{/link-to}}
        </div>
    </div>
    <div class="item">
        <div class="content">
            {{#link-to "project-dashboard.api-detail" 2 class="ui grey header" }}
                Post
                <span>Post TODO</span>
            {{/link-to}}
        </div>
    </div>
    <div class="item">
        <div class="content">
            {{#link-to "project-dashboard.api-detail" 3 class="ui blue header" }}
                Update
                <span>Update TODO</span>
            {{/link-to}}
        </div>
    </div>
    <div class="item">
        <div class="content">
            {{#link-to "project-dashboard.api-detail" 4 class="ui red header" }}
                Delete
                <span>Delete TODO</span>
            {{/link-to}}
        </div>
    </div>
</div>
