<div class="ui form">
    {{ui-form-input label="name"}}
    <div class="field">
        <label for="">description</label>
        {{textarea}}
    </div>
    <button class="ui button">
        <i class="save icon"></i>
        Create
    </button>
</div>

