<div class="content">
  {{#link-to "" }}{{/link-to}}
  <a class="header">v12</a>
  <div class="meta">
    <span>Description</span>
  </div>
  <div class="description">
    <p></p>
  </div>
  <div class="extra">
    Additional Details
  </div>
</div>
