<div class="content">
    {{#if orgName}}
        <a href="" class="header" >{{orgName}}/{{model.name}}</a>
    {{else}}
        <a href="" class="header" >{{model.name}}</a>
    {{/if}}
    <div class="meta">
        <p>
            <i class="tags icon" ></i>
            36 Apis
        </p>
        <p>
            <i class="calendar outline icon" ></i>
            Last success 2017.10.1
        </p>
    </div>
    <div class="extra">
        
    </div>
</div>

