<div class="content">
    {{#link-to "project-detail" model.owner_name model.name class="header" }}{{model.owner_name}}/{{model.name}}{{/link-to}}
    <div class="meta">
        <p>
            <i class="tags icon" ></i>
            36 Apis
        </p>
        <p>
            <i class="calendar outline icon" ></i>
            Last success 2017.10.1
        </p>
    </div>
    <div class="description">
        <p>
            {{model.description}}
        </p>
    </div>
    <div class="extra">
        
    </div>
</div>

