<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class="ui big breadcrumb">
                <a class="section">{{model.owner_name}}</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">{{model.name}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui secondary pointing menu">
              <a class="item active">
                Api
              </a>
              <a class="item">
                Run status
              </a>
              <a class="item">
                Settings
              </a>
            </div>
        </div>
    </div>
</div>
