<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class="ui big breadcrumb">
                <a class="section">{{model.owner_name}}</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">{{model.name}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui secondary pointing menu">
              {{#link-to "project.detail.api-new" class="item" }}
                <i class="plus icon" ></i>
                  New api
              {{/link-to}}
              {{#link-to "project.detail.api" class="item" }}Api{{/link-to}}
              {{#link-to "project.detail.group" class="item" }}Group{{/link-to}}
              {{#link-to "project.detail.settings" class="item" }}Settings{{/link-to}}
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="column">
            {{outlet}}
        </div>
    </div>
</div>
