<div class="ui one column grid">
    <div class="column">
        <div class="ui basic segment cc-project-segment" >
            <div class="ui divided items">
                {{#each model.projects as |project|}}
                    {{#ui-project-item model=project orgName=model.orgName }}{{/ui-project-item}}
                {{/each}}
            </div>
        </div>
    </div>
</div>