<div class="ui container">
    <div class="ui one column grid">
        <div class="row">
            <div class="column">
                {{ui-workspace}}
            </div>
        </div>
        <div class="row">
            <div class="column">
                {{ui-workspace}}
            </div>
        </div>
        <div class="row">
            <div class="column">
                {{ui-workspace}}
            </div>
        </div>
    </div>
</div>


