<div class="ui form">
    {{ui-form-input label="Group name"}}
    <div class="field" >
        <label for="">
            Description
        </label>
        {{textarea class="ui textarea"}}
    </div>
    <div>
        <button class="ui button" >Save</button>
    </div>
</div>

