<div class="content">
    <a class="header">{{model.name}}</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      {{model.description}}
    </div>
</div>
<div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
</div>

