<div class="ui container">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical pointing menu">
              <a href="" class="item" >Options</a>
              <a href="" class="item" >Trigger url</a>
              <a href="" class="item" >Web hooks</a>
            </div>
        </div>
        <div class="twelve wide column">
            {{outlet}}
        </div>
    </div>
</div>
