<div class="ui form">
    {{ui-form-input label="project name" }}
    <div class="field">
        <label for="">Description</label>
        {{textarea}}
    </div>
    <button class="ui button" >Rename</button>
</div>
