<div class="ui grid" style="background: #fafbfc;border-bottom: 1px solid #eee" >
    <div class="column" style="padding-bottom: 0;" >
      <div class="ui container">
        <div class="ui big breadcrumb">
            <a class="section">{{model.owner_name}}</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">{{model.name}}</div>
        </div>
        <div class="ui tabular menu" style="border-bottom: none;margin-top:20px" >
          {{#link-to "api-dashboard" class="item" }}
            <i class="dashboard icon" ></i>
            Api
          {{/link-to}}
          {{#link-to "api-detail.testing" model.name class="item" }}
            <i class="folder icon" ></i>
            Testing
          {{/link-to}}
          {{#link-to "api-detail.docs" model.name class="item" }}
            <i class="setting icon" ></i>
              Docs
          {{/link-to}}
          {{#link-to "api-detail.settings" model.name class="item" }}
            <i class="setting icon" ></i>
              Settings
          {{/link-to}}
        </div>
      </div>
    </div>
</div>
<div style="height:50px;" ></div>
<div class="ui container">
{{outlet}}
</div>

