<div class="ui container">
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui pointing menu">
                    {{#link-to "organizations" class="item" }}
                        <h4 class="ui header">Organizations</h4>
                    {{/link-to}}
                    {{#link-to "settings" class="item" }}
                        <h4 class="ui header">Settings</h4>
                    {{/link-to}}

                    {{#link-to "profile" class="item" }}
                        <h4 class="ui header">Profile</h4>
                    {{/link-to}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                {{outlet}}
            </div>
        </div>
    </div>
</div>