{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}


{{#ui-grid}}
    {{#ui-column wide=4 }}
        <div class="ui segment">
           left
        </div>
    {{/ui-column}}
    {{#ui-column wide=12 }}
        {{outlet}}
    {{/ui-column}}
{{/ui-grid}}