<div class="ui grid">
    {{#ui-column wide=4 }}
        <div class="ui segment">
            <div class="ui cards">
            {{#each model.projects as |project|}}
                {{#ui-list-card model=project }}{{/ui-list-card}}
            {{/each}}
            </div>
        </div>
    {{/ui-column}}

    {{#ui-column wide=12 }}
        <div class="ui segment">
            {{outlet}}
        </div>
    {{/ui-column}}
</div>

