<div class="ui grid">
    <div class="row">
        <div class="column">
            orgname
        </div>
    </div>
    <div class="row">
        <div class="column">
            {{outlet}}
        </div>
    </div>
</div>
