<div class="ui container">
    <div class="ui basic segment" style="padding-left:0" >
        <div class="ui basic items">
            <div class="item">
                <div class="ui small image">
                  <img class="large" src="https://avatars0.githubusercontent.com/u/1224344?v=3&s=460">
                </div>
                <div class="middle aligned content">
                  zhyq0826
                </div>
            </div>
        </div>
    </div>
    <div class="ui one column grid">
        {{#ui-column}}
            <div class="ui basic segment cc-project-segment" >
                <div class="ui divided items" {{!-- style="background:#f1f1f1" --}} >
                    {{#each model.projects as |project|}}
                        {{#ui-project-item model=project orgName=model.orgName }}{{/ui-project-item}}
                    {{/each}}
                </div>
            </div>
        {{/ui-column}}
    </div>
</div>