<div class="ui grid">
    {{#ui-column wide=4 }}
        <div class="ui cards">
        {{#each cards as |card|}}
            {{#ui-list-card}}{{/ui-list-card}}
        {{/each}}
        </div>
    {{/ui-column}}

    {{#ui-column wide=12 }}
        {{outlet}}
    {{/ui-column}}
</div>
