<h3 class="ui dividing header">
    Change password
</h3>
{{#ui-form}}
    {{ui-form-input label="Old password"}}
    {{ui-form-input label="New password"}}
    {{ui-form-input label="Confirm new password"}}
    {{#ui-button class="green"}}
        Update password 
    {{/ui-button}}
    <a href="#">I forget Password</a>
{{/ui-form}}

